<h1>{{title}}</h1>

{{#each Gallery}}
  <img src="{{image}}" alt="{{name}}" />
  <p>{{name}}</p>
  <p>{{description}}</p>
{{/each}}

{{! -------Create navLink---------- }}
<div class="container">
  <h1>Create Navbar Link</h1>
  <form onsubmit={formSubmit} action="/submit" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
      <label for="linkText">Link Text</label>
      <input
        type="text"
        class="form-control"
        id="linkText"
        name="navText"
        placeholder="Enter link text"
      />
    </div>
    <div class="form-group">
      <label for="linkURL">Link URL</label>
      <input
        type="text"
        class="form-control"
        id="linkURL"
        name="navURL"
        placeholder="Enter link URL"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create Link</button>
  </form>
</div>

{{! -------Create imageGallery---------- }}
<div class="container">
  <h1>imageGallery</h1>
  <form>
    <div class="form-group">
      <label for="image">Country Image URL:</label>
      <input
        type="file"
        name="image"
        class="form-control"
        id="image"
        placeholder="Enter image URL"
      />
    </div>
    <div class="form-group">
      <label for="name">Country Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter country name"
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        name="description"
        class="form-control"
        id="description"
        rows="3"
        placeholder="Enter description"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Image Gallery</button>
  </form>
</div>

<script>
  const formSubmit =(e)=>{ e.preventDefault() }
</script>